@mixin btn-ui{
    border-radius: 5px;
    margin: 0 1px;
    padding: 10px 20px;
    background-color: #fff;
    color: #444;
    border: 1px solid #000;
    transition: 0.25s;
    cursor: pointer;

     &:hover{
        background-color: #444;
        color: #fff;
        border-color: #fff;
    }
}

.control-blk{
    @include center;
    justify-content: space-between;
    background: #444;
    padding: 0 15px;
    h4{
        font-weight: 200;
        color: #fff;

        a{
            color: #fff;
            text-decoration: none;
        }
    }
}

ul{
    list-style: none;
    display: flex;
    margin: 10px;
    
    li{
       @include btn-ui();
    }
}

#run{
    @include btn-ui();
}