@mixin btn-desgin {
    border-radius: 5px;
    margin: 0 1px;
    padding: 10px 20px;
    background-color: #fff;
    color: #444;
    cursor: pointer;
    transition: 0.1s;
}

.control-blk{
    @include center;
    justify-content: space-between;
    background: #444;
    padding: 0 15px;
    h4{
        font-weight: 200;
        color: #fff;

    }
}

ul{
    list-style: none;
    display: flex;
    margin: 10px;
    
    li{
        @include btn-desgin();

        &:hover{
            background-color: #444;
            color: #fff;
            border-color: #fff;
        }
    }
}

#run{
    @include btn-desgin();
    font-weight: 600;
}