.control-blk{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #444;
}

ul{
    list-style: none;
    display: flex;
    margin: 10px;
    
    li{
        border-radius: 5px;
        margin: 0 1px;
        padding: 10px 20px;
        background-color: #fff;
        color: #444;
        border: 1px solid #000;
        transition: 0.3s;
        cursor: pointer;

        &:hover{
            background-color: #444;
            color: #fff;
            border-color: #fff;
        }

    }
}

#run{
    padding: 10px 20px;
    justify-self: flex-end;
}