@mixin userBlks(){
    width: 100%;
    height: 100%;
    background-color: #ddd;
    border: 1px solid black;
    transition: 0.2s;
    border-radius: 5px;
    animation: fadeIn 0.2s 0s ease;

    &:focus{
        background-color: #fff;
        border: 1.5px solid #232323;   
    }

    &::placeholder{
        font-size: 16px;
    }
}

.code-area{
    padding: 20px 10px;
    margin: 10px;
    @include center();
    justify-content: space-around;

    div{
        flex-grow: 1;
        height: 80vh;
        display: none;

        textarea{
            @include userBlks();
        }

        iframe{
            @include userBlks();
            background-color: #fff;
        }
    }
}

.selected{
    display: block!important;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

