.voice-recog{
    margin-top: 20px;
    @include center();

    button{
        @include btn-ui();
        background-color: #444;
        color: #fff;
        
        &:hover{
            background: #fff;
            border: 1px solid #444;
            color: #000;
        }
    }
}